---
import Layout from "@layouts/Layout.astro";
---

<Layout class="cv" title="Curriculum Vitae - Chaoqun Li" activePage="Curriculum Vitae - Chaoqun Li">
  <div class="prose mx-auto my-8">
    <section>
      <h2>Personal Details</h2>
      <ul>
        <li><strong>Name:</strong> Chaoqun Li</li>
        <li><strong>Email:</strong> <a href="mailto:keparal@outlook.com">keparal@outlook.com</a></li>
      </ul>
    </section>

    <section>
      <h2>Education</h2>
      <ul>
        <li>
          <strong>Zhengzhou University</strong> (Sep. 2016 - Jun. 2020)<br />
          Bachelor's degree in Computer Science and Technology
        </li>
      </ul>

      <ul>
        <li>
          <strong>University of Texas at Arlington </strong> (Jan. 2025 --  )<br />
          Supervised by <a href="https://yuede.github.io//" target="_blank" rel="noopener noreferrer">Yuede Ji </a>
        </li>
      </ul>
    </section>

    

    <section>
      <h2>Research Experience</h2>
      <ul>
        <li>
          <strong>Graduation Design: Pedestrian Safety Helmet Wearing Detection</strong>
          <ul>
            <li>
              Based on Background modeling, pedestrian detection, Yolo v3, and color feature recognition to detect 
              construction site pedestrians in real-time and capture their helmet-wearing status.
            </li>
            <li>
              <strong>Keywords:</strong> Background modeling, Yolo v3, pedestrian detection, computer vision, color feature detection.
            </li>
            <li>
              Supervised by <a href="https://jstudy.github.io/" target="_blank" rel="noopener noreferrer">Xiaoheng Jiang</a>.
            </li>
          </ul>
        </li>
      </ul>
    </section>

    <section>
      <h2>Work Experience</h2>
      <ul>
        <li>
          <strong>Internship (2019.06 - 2019.09)</strong><br />
          <em>Company:</em> <a href="https://www.863soft.com/cn/" target="_blank" rel="noopener noreferrer">Henan 863 Software Co., Ltd</a><br />
          Duties included: Processing massive data with Hadoop and data analysis.
        </li>
        <li>
          <strong>Internship (2021.02 - 2021.06)</strong><br />
          <em>Company:</em> <a href="http://www.zjunis.com/zhyy" target="_blank" rel="noopener noreferrer">ZJ UNIS</a><br />
          Duties included: Back-end developer utilizing Java.
        </li>
        <li>
          <strong>Full-time (2021 - 2024)</strong><br />
          <em>Company:</em> <a href="https://www.mediatek.com/" target="_blank" rel="noopener noreferrer">MediaTek</a><br />
          Duties included: Involved in Android development.
        </li>
      </ul>
    </section>

    <section>
      <h2>Skills</h2>
      <ul>
        <li><strong>Programming Languages:</strong> Java, C/C++, Python</li>
        <li><strong>Database Tools:</strong> SQL, SQLite, Hadoop</li>
        <li><strong>Operating Systems:</strong> Windows, Linux</li>
        <li><strong>Web Development:</strong> HTML, JavaScript</li>
        <li><strong>Version Control:</strong> Git</li>
      </ul>
    </section>

    <section>
      <h2>Projects</h2>
      <ul>
        <li>
          <strong><a href="https://github.com/Kepavel/bpm_analyse1.0" target="_blank" rel="noopener noreferrer">Rhythm Player Application</a></strong>
          <ul>
            <li>Languages: C++, Java</li>
            <li>
              Used <a href="https://www.surina.net/soundtouch/" target="_blank" rel="noopener noreferrer">SoundTouch open source libraries</a> to develop a music player with step frequency and music beat matching.
            </li>
            <li>
              <strong>Core Features:</strong> BPM analysis, step frequency detection, MP3 player.
            </li>
          </ul>
        </li>
        <li>
          <strong><a href="https://github.com/Kepavel/sam-android" target="_blank" rel="noopener noreferrer">Segment Anything Android Demo</a></strong>
          <ul>
            <li>Languages: C++, Java</li>
            <li>Load SAM model and realize real-time object segmentation.</li>
            <li>
              <strong>Core Features:</strong> Segment any object in a picture by clicking.
            </li>
          </ul>
        </li>
      </ul>
    </section>

    <section>
      <h2>Honors and Awards</h2>
      <ul>
        <li>
          2018 China Robot and Artificial Intelligence Competition, Second Level (November, 2018)
        </li>
        <li>
          Zhengzhou University College of Information Engineering Annual Outstanding Student, Second Level (September, 2017)
        </li>
      </ul>
    </section>
  </div>
</Layout>
